@use "src/styles/variables" as *;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

.loader__icon {
  animation: spin 1.5s linear infinite;
  color: $button-color-primary;
  display: inline-block;
  height: 36px;
  transform-origin: center;
  vertical-align: middle;
  width: 36px;
}
