$font-family: "Roboto", sans-serif;

$button-color-primary: #007aff;
$button-color-primary-active: #006ee5;
$button-color-primary-disabled: rgba(0, 122, 255, 0.48);
$button-color-primary-hover: #479fff;
$input-background-color: #f2f2f2;
$page-background-color: rgb(198, 220, 241);
$text-color-disabled: rgba(255, 255, 255, 0.72);
$text-color-primary: #060708;
$white-color: #ffffff;

$main-font-size: 16px;

$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
