.input {
  width: 100%;
}

.input__input {
  background-color: #0909090d;
  border: none;
  border-radius: 16px;
  box-sizing: border-box;
  color: #060708;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 52px;
  line-height: 40;
  outline: none;
  padding: 6px 12px;
  width: 100%;
}
