.contacts-form {
  align-items: center;
  box-sizing: border-box;
  backdrop-filter: blur(25px);
  background: linear-gradient(
    rgba(255, 255, 255, 0.64),
    rgba(255, 255, 255, 0.88)
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  padding: 16px;
  width: 100vw;

  @media screen and (min-width: 580px) {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 28px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
    height: 380px;
    justify-content: flex-end;
    padding: 32px;
    width: 580px;
  }
}

.contacts-form__wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-end;
  max-width: 336px;
  min-height: 314px;
  width: 100%;
}

.contacts-form__title {
  color: #060708;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}
